body {
  width: 100vw;
  margin: 0;
  font-family: "Oswald"
}

header {
  height: 200px;
  width: 100vw;
  border: 2px solid #8d8d8d;
}

h1 {
  font-size: 50px;
  text-align: center;
}

ul {
  width: 50%;
  margin: auto;
  list-style: none;
  padding: 0;
}

.logo {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 25vw;
  height: 200px;
}

.title {
  text-align: center;
  margin: 50px;
}

.employeeimg {
  height: 300px;
  width: 300px;
  margin: 25px;
}

.employee {
  border: 2px solid #8d8d8d;
  width: 400px;
  text-align: center;
  margin: 25px;
}

.employeeList, header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

footer {
  background-color: #8d8d8d;
  text-align: center;
  margin: 0;
}

.employeeTitle {
  background-color: #8d8d8d;
  text-align: center;
}

.foot {
  text-align: center;
  padding: 50px;
}
